/* variables */
:root {
    --color-1: #DC143C;
    --color-2: #111F1F;
    --color-3: #793213;
    --color-4: #040708;
    --color-5: #1A0401;
    --color-6: #BB7738;
    --color-7: rgb(226, 225, 225);

    --font-1: 1rem;
    --font-2: 1.618rem;
    --font-3: 2.618rem;
    --font-4: 4.236rem;
    --font-5: 6.854rem;
    --font-small: 0.618rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
    
/* fonts */
@font-face {
    font-family: 'bn_baxter_scriptclean';
    src: url('./fonts/bnbaxterscript-clean-webfont.woff2') format('woff2'),
         url('./fonts/bnbaxterscript-clean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bn_hillmanregular';
    src: url('./fonts/bnhillman-webfont.woff2') format('woff2'),
         url('./fonts/bnhillman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "bn_hillmanregular", serif, sans-serif;
    background-color: var(--color-4);
}

/* style background image */

body::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
}

/* style nav elements */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--font-1);
    flex-wrap: wrap;

    padding-top: var(--font-1);
}

.home,
.menu,
.contact {
    background-color: transparent;
    border: 0;
    color: var(--color-7);
}

.home:hover,
.menu:hover,
.contact:hover {
    color: var(--color-1);
    cursor: pointer;
}

/* style home content section */
#content {
    text-align: center;
    margin-top: var(--font-5);
}

#content h1:first-child {
    color: var(--color-7);
    font-size: var(--font-3);
    line-height: var(--font-1);
}

#content h1:last-child {
    font-family: 'bn_baxter_scriptclean', serif, sans-serif;
    color: var(--color-1);
    font-size: var(--font-5);
    line-height: var(--font-5);
}

/* style menu page */
img[alt="plate with food"] {
  max-width: 200px;
  height: auto;
}

div.item {
  display: flex;
  gap: 30px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.textContainer1,
.textContainer2,
.textContainer3 {
  color: var(--color-7);
  text-align: left;
  padding-top: var(--font-2);

  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* flex-direction: column; */
  /* align-content: center; */
}

.textContainer1 > p,
.textContainer2 > p,
.textContainer3 > p {
  font-size: var(--font-1);
}

.menuContent {
  max-width: 1000px;
  margin: 0 auto;
}

.textContainer1 > h2,
.textContainer2 > h2,
.textContainer3 > h2 {
  margin-bottom: calc(var(--font-1) / 1.6);
}